<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    
    <script src="/bower/angular/angular.js"></script>
    <script src="/bower/jquery/dist/jquery.min.js"></script>
    <script src="/js/bracket.js"></script>
  </body>
</html>