<!DOCTYPE html>
<html ng-app="bracketApp">
  <head>
    <link href="/styles/importer.css" rel="stylesheet" />
  </head>
  <body>

    <div ui-view="main">
    </div>

    <script src="/bower/angular/angular.js"></script>
    <script src="/bower/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower/jquery/dist/jquery.min.js"></script>
    <script src="/js/bracket.js"></script>
    <script src="/js/modules/bracket.js"></script>
    <script src="/js/modules/input.js"></script>
    <script src="/js/modules/landing.js"></script>

  </body>
</html>