* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.row {

  .index {
    display: inline-block;
    width: 100px;
    padding: 10px;
    text-align: right;
  }

  
}