@font-size: 16px;
@base-row-size: 1.8em;
@border: solid 1px blue;
@seed-color: rgb(166, 47, 32);
@button-color: rgb(54, 135, 22);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: Helvetica, Arial, sans-serif;
}

.input {
  font-size: 0px;

  .rows {
    width: 50%;
    display: inline-block;
    height: 100vh;
    padding: 10vh 2%;
    border-right: solid 1px #333;
  }

  .controls {
    width: 50%;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    padding: 10vh 2%;
  }

  .control-row {
    margin-bottom: 20px;

    .control-label {
      font-weight: bold;
    }

    .control-full {
      width: 100%;
      display: block;
      font-size: 20px;
      margin-top: 5px;
      padding: 5px;
    }

    .control-aside {
      width: 15px;
      height: 15px;
      margin-right: 5px;
    }

    .control-button {
      color: white;
      padding: 8px 16px;
      background: @button-color;
      border-radius: 4px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      border-top: solid 1px lighten(@button-color, 10%);
      border-left: solid 1px lighten(@button-color, 10%);
      border-bottom: solid 1px darken(@button-color, 10%);
      border-right: solid 1px darken(@button-color, 10%);
    }
  }

  .row {
    .seed {
      display: inline-block;
      width: 20%;
      text-align: right;
      color: white;
      font-weight: bold;
      background: @seed-color;
      padding: 5px;
      font-size: 18px;
      border-top: solid 1px lighten(@seed-color, 10%);
      border-left: solid 1px lighten(@seed-color, 10%);
      border-bottom: solid 1px darken(@seed-color, 10%);
      border-right: solid 1px darken(@seed-color, 10%);
    }

    &:first-of-type .entry {
      border-top: solid 1px #999;
    }

    .entry {
      width: 80%;
      border: none;
      border-bottom: solid 1px #999;
      border-right: solid 1px #999;
      padding: 5px;
      padding-left: none;
      font-size: 18px;

      &:focus {
        outline: none;
        background: rgb(237, 246, 255);
      }
    }
  }
}

.bracket {
  width: 90%;
  margin: 0px auto;
  
  * {
    font-size: @font-size;
  }
  
  &.rounds3 .round {
    width: (100% / 3);
    
    &.champion {
      margin-left: -1 * (100% / 3);
    }
  }
  &.rounds4 .round {
    width: (100% / 4);
    
    &.champion {
      margin-left: -1 * (100% / 4);
    }
  }
  &.rounds5 .round {
    width: (100% / 5);
    
    &.champion {
      margin-left: -1 * (100% / 5);
    }
  }
  &.rounds6 .round {
    width: (100% / 6);
    
    &.champion {
      margin-left: -1 * (100% / 6);
    }
  }
  
  .round {
    float: left;
    vertical-align: top;
    
    &.round1 {
      @row-size: @base-row-size * 1;
      margin-top: ((@base-row-size - @row-size) / 2);
      
      .blank {
        min-height: @row-size * 2;
        max-height: @row-size * 2;
      }
      .player {
        min-height: @row-size;
        max-height: @row-size;
        padding-top: @row-size - 1em;
      }
    }
    &.round2 {
      @row-size: @base-row-size * 2;
      margin-top: ((@base-row-size - @row-size) / 2);
      
      .blank {
        min-height: @row-size * 2;
        max-height: @row-size * 2;
      }
      .player {
        min-height: @row-size;
        max-height: @row-size;
        padding-top: @row-size - 1em;
      }
    }
    &.round3 {
      @row-size: @base-row-size * 4;
      margin-top: ((@base-row-size - @row-size) / 2);
      
      .player {
        min-height: @row-size;
        max-height: @row-size;
        padding-top: @row-size - 1em;
      }
    }
    &.round4 {
      @row-size: @base-row-size * 8;
      margin-top: ((@base-row-size - @row-size) / 2);
      
      .player {
        min-height: @row-size;
        max-height: @row-size;
        padding-top: @row-size - 1em;
      }
    }
    &.round5 {
      @row-size: @base-row-size * 16;
      margin-top: ((@base-row-size - @row-size) / 2);
      
      .player {
        min-height: @row-size;
        max-height: @row-size;
        padding-top: @row-size - 1em;
      }
    }
    &.round6 {
      @row-size: @base-row-size * 32;
      margin-top: ((@base-row-size - @row-size) / 2);
      
      .player {
        min-height: @row-size;
        max-height: @row-size;
        padding-top: @row-size - 1em;
      }
    }
    &.round7 {
      @row-size: @base-row-size * 64;
      margin-top: ((@base-row-size - @row-size) / 2);
      
      .player {
        min-height: @row-size;
        max-height: @row-size;
        padding-top: @row-size - 1em;
      }
    }
    
    &.champion {
      .player {
        text-align: right;
        padding-right: 3%;
        font-weight: bold;
        z-index: 1;
        &:last-of-type {
          border-right: none;
        }
      }
    }
    
    .game {
      line-height: @font-size * 0.9;        
    }
    
    .player {
      border-bottom: @border;
      padding-left: 3%;
      white-space: nowrap;
      overflow: hidden;
      position: relative;
      z-index: 2;

      &:last-of-type {
        border-right: @border;
      }
      
      &.winner {
        color: forestgreen;
        font-weight: bold;
      }
      
      &[data-score] {
        &::after {
          content: attr(data-score);
          float: right;
          padding-right: 3%;
        }
      }
    }
    
  }
}
